* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
scroll-behavior: smooth;

}

body {
  background-size: cover;       
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-image: url(templates/marmore.png);
  
}

.topnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  display: flex;
  justify-content: center;
  gap: 28px;
  flex-wrap: wrap;

  padding: 18px 20px;
  background: rgba(255, 255, 255, 0.92);
  backdrop-filter: blur(10px);

  border-bottom: 1px solid rgba(212, 160, 23, 0.35);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

.topnav a {
  font-family: cinzel, serif;
  text-decoration: none;
  color: #8c5a00;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  padding: 8px 14px;
  border-radius: 999px;

  transition: 0.25s ease;
}

.topnav a:hover {
  background: linear-gradient(90deg, #3e2a00, #d4a017, #ffd700);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  transform: translateY(-1px);
}

.cabeca{
text-align: center;
margin-top:80px;
width: auto;
height: 300px;
position: relative;
}

header {
  position: relative;
}


.caixa-marmore h1 {
  position: relative;
  z-index: 1; 

  margin: 0;
  font-family: cinzel;
  color: #eeac05;

  text-shadow: 0 0 10px rgba(255, 174, 0, 0.4);
}


.caixa-marmore h1 {
  position: relative;
  z-index: 2;

  margin: 0;
  font-family: cinzel;

  background: linear-gradient(
    90deg,
    #3e2a00,
    #8c5a00,
    #d4a017,
    #ffae00,
    #d4a017,
    #8c5a00,
    #3e2a00
  );

  background-size: 200% auto;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: brilho 3s linear infinite;

  text-shadow: 
    0 0 5px rgba(255, 174, 0, 0.3),
    0 0 15px rgba(255, 174, 0, 0.2);
}

@keyframes brilho {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}

hr {
  border: none;
  height: 2px;
  background: linear-gradient(to right, transparent, #ffd700, transparent);
  margin: 20px 0;
}
#resumo {
  max-width: 900px;
  margin: 20px auto;
  padding: 30px;

  background: #ffffff;
  border-radius: 12px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

  text-align: center;
}

/* Texto */
#resumo p {
  font-size: 18px;
  line-height: 1.7;
  color: #333;

  margin: 25px 0;
}

/* Imagens */
#resumo img {
  max-width: 100%;
  height: auto;

  border-radius: 10px;

  transition: transform 0.3s ease;
}

/* Hover */
#resumo img:hover {
  transform: scale(1.03);
}

/* Primeira imagem (Zeus) destaque */
.zeus {
  width: 220px;

  border: 3px solid transparent;
  background: linear-gradient(white, white) padding-box,
              linear-gradient(45deg, #d4af37, #ffd700) border-box;

  border-radius: 50%;
  padding: 5px;
}


main{
margin-top: 40px;

}

.zeus {
display: inline;

}


