/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fundo*/
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #7e7b7b, #f5f5f5);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-scroll {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    display: flex;
    flex-direction: column;
}

.linha {
    flex: 1; 
    overflow: hidden;
    display: flex;
    align-items: center;
}

.track {
    display: flex;
    gap: 40px;
    width: max-content;
}

.track img {
    height: 80%; /* ocupa quase toda a linha */
    max-height: 250px; /* limite pra não ficar absurdo */
    border-radius: 15px;
    object-fit: cover;
}

.esquerda .track {
    animation: scrollLeft 70s linear infinite;
}

.direita .track {
    animation: scrollRight 70s linear infinite;
}

@keyframes scrollLeft {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

@keyframes scrollRight {
    from { transform: translateX(-50%); }
    to { transform: translateX(0); }
}

/* Container central */
main {
    border-radius: 10px;
    background-color: #000202ec;
    text-align: center;
    padding: 40px;
}


/* Título */
h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;

    background: linear-gradient(90deg, #d4af37, #ffd700);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Subtítulo */
.sub {
    font-family: cinzel, serif;
    font-size: 1.2rem;
    color: #fcf5f5;
    margin-bottom: 40px;
}

/* Menu */
.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* Botões */
#grega {
    text-decoration: none;
    padding: 15px 30px;
    border: 2px solid #d4af37;
    color: #d4af37;
    font-weight: bold;
    letter-spacing: 1px;
    position: relative;

    transition: 0.3s ease;
}

#nordica {
    text-decoration: none;
    padding: 15px 30px;
    border: 2px solid #17d4b4;
    color: #00f5a0;
    font-weight: bold;
    letter-spacing: 1px;
    position: relative;

    transition: 0.3s ease;
}

#egipcia {
    text-decoration: none;
    padding: 15px 30px;
    border: 2px solid #000202;
    color: #f70404;
    font-weight: bold;
    letter-spacing: 1px;
    position: relative;

    transition: 0.3s ease;
}

#nordica:hover {
    background: linear-gradient(90deg, #17d4b4, #06df23);
    color: white;
    transform: scale(1.05);
}

/* Hover*/
#grega:hover {
    background: linear-gradient(90deg, #d4af37, #ffd700);
    color: white;
    transform: scale(1.05);
}

#egipcia:hover {
    background: linear-gradient(90deg, #000202, #021104);
    color: white;
    transform: scale(1.05);
}

/* Botão ativo (grega) */
#grega.ativo {
    background: linear-gradient(90deg, #d4af37, #ffd700);
    color: white;
}

#nordica.ativo {
    background: linear-gradient(90deg, #000202, #021104);
    color: rgb(255, 255, 255);
}


#egipcia.ativo {
    background: linear-gradient(90deg, #c25903, #cc7503);
    color: rgb(255, 255, 255);
}
/* Botões desativados */
#egipcia.desativado {
    opacity: 0.5;
    cursor: not-allowed;
    border-style: dashed;
}

/* Responsivo */
@media (min-width: 768px) {
    .menu {
        flex-direction: row;
        justify-content: center;
    }
}